*{
	font-family: 'MicroSoft Yahei', Helvetica;
}
html, body{
	margin: 0;
	padding: 0;
	background: white;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.network_wraper{
	overflow: auto;
	width: 100%;
	height: 100%;
}
.copyright{
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	color: #404040;
	font-size: 12px;
	text-align: left;
	padding: 5px 0 5px 9px;
	border-top: 1px solid #F7F7F7;
	box-shadow: 0 -4px 5px #FCFCFC;
	background: white;
}
.copyright a{
	font-size: 13px;
	margin-left: 5px;
	text-decoration: none;
	color: #4A90E2;
}
.loading{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: white;
	z-index: 10;
}
.loading img{
	width: 48px;
	height: 48px;
	position: absolute;
	top: 50%;
	margin-top: -32px;
	left: 50%;
	margin-left: -32px;
}
.loading_text{
	position: absolute;
	font-size: 13px;
	top: 50%;
	margin-top: 28px;
	width: 100%;
	left: 0;
	text-align: center;
	color: #666666;
}
.download{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 45px;
	text-decoration: none;
	background: white;
	box-shadow: 0 -4px 6px #F1F1F1;
}
.logo_download{
	display: inline-block;
	background: url(../../images/mobile/logo_download.png) no-repeat;
	background-size: 100%;
	width: 34px;
	height: 34px;
	position: relative;
	margin-left: 8px;
	top: 6px;
}
.logo_text{
	position: absolute;
	top: 4px;
	left: 52px;
	color: #333333;
}
.logo_title{
	font-size: 14px;
	display: block;
}
.logo_subtitle{
	font-size: 12px;
	display: block;
}
.btn_download{
	position: absolute;
	top: 8px;
	right: 10px;
	font-size: 14px;
	color: #602B15;
	border-radius: 4px;
	width: 80px;
	height: 30px;
	background: #FFC000;
	text-align: center;
	line-height: 30px;
	text-decoration: none;
}
/* chart start */
text{
	fill: black;
	font-size: 16px;
	fill-opacity: 1;
}
text.level_1{
	fill: #333333;
	font-size: 16px;
}
text.level_2{
	fill: #393939;
	font-size: 14px;
}
text.level_3{
	fill: #666666;
	font-size: 12px;
}
/* chart end */
/* company info start */
.company_info{
	display: none;
	font-size: 13px;
	position: fixed;
	width: 100%;
	max-height: 100%;
	overflow: hidden;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 30;
}
.company_shixin{
	color: #FC3939;
	margin-bottom: 8px;
}
.company_inner{
	background: white;
	border-bottom: 1px solid #DDDDDD;
	box-shadow: 0 1px 2px #CCCCCC;
	padding: 10px;
}
.btn_close{
	position: absolute;
	top: -4px;
	right: 0px;
	font-size: 24px;
	color: #999999;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: initial;
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.company_mask{
	height: 1000px;
}
.company_name{
	font-size: 14px;
	color: #4CA0FF;
	padding-bottom: 10px;
}
.company_info .item{
	padding: 3px 0;
}
.company_info .name{
	display: inline-block;
	width: 90px;
	color: gray;
}
.company_tabs{
	margin: 10px 0;
	border-bottom: 1px solid #DDDDDD;
	font-size: 14px;
}
.company_tabs .tab{
	display: inline-block;
	border: 1px solid white;
	border-bottom-color: #DDDDDD;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	position: relative;
	top: 1px;
	padding: 4px 10px;
	cursor: pointer;
}
.company_tabs .selected{
	border-color: #DDDDDD;
	border-bottom-color: white;
}
.company_contents .content{
	max-height: 200px;
	overflow: auto;
	display: none;
}
.company_contents .content.selected{
	display: block;
}
.company_contents table{
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #DDDDDD;
	background: white;
}
.company_contents .none_tip{
	display: none;
}
.company_contents tr:nth-child(2n){
	background: #F7F8FA;
}
.company_contents td{
	padding: 5px 10px;
}
.company_contents td:nth-child(2){
	text-align: right;
}
/* company info end */
/* toolbar start */
.toolbar{
	display: none;
	position: fixed;
	right: 9px;
	bottom: 37px;
	z-index: 20;
	background: white;
	font-size: 12px;
}
.toolbar .btn_list{
}
.toolbar .btn{
	padding: 7px 10px;
	border-bottom: 1px solid #DDDDDD;
}
.toolbar .btn:active{
	background-color: #F7F7F7;
}
.toolbar .btn:last-child{
	border-bottom: none;
}
.toolbar .btn_filter_list, .toolbar .btn_restore{
	color: #48A2FD;
	padding-left: 28px;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	box-shadow: 0 0 4px #DDDDDD;
}
.toolbar .btn_filter_list{
	background: url(../../images/mobile/screen_icon.png) 5px center no-repeat;
	background-size: 16px;
	margin-bottom: 9px;
}
.toolbar .btn_restore{
	background: url(../../images/mobile/recover_icon.png) 5px center no-repeat;
	background-size: 16px;
}
.toolbar .btn_filters{
	display: none;
	position: absolute;
	bottom: 80px;
	width: 90px;
	right: 0;
	border: 1px solid #DDDDDD;
	background: white;
	border-radius: 4px;
	box-shadow: 0 0 4px #DDDDDD;
}
.toolbar .btn_filter{
	position: relative;
	padding-left: 30px;
}
.btn_filter .btn_icon{
	position: absolute;
	left: 7px;
	top: 7px;
	width: 16px;
	height: 16px;
	border-radius: 16px;
}
.btn_filter[rel="1"] .btn_icon{
	background: #6BE8A1;
	opacity: 0.2;
}
.btn_filter[rel="2"] .btn_icon{
	background: #9AB4F2;
	opacity: 0.2;
}
.btn_filter[rel="3"] .btn_icon{
	background: #4DD0E1;
	opacity: 0.2;
}
.btn_filter[rel="4"] .btn_icon{
	background: #FF8A65;
	opacity: 0.2;
}
.btn_filter[rel="5"] .btn_icon{
	background: #FFC300;
	opacity: 0.2;
}
.btn_filter[rel="6"] .btn_icon{
	background: #D4E157;
	opacity: 0.2;
}
.btn_filter[rel="7"] .btn_icon{
	background: #BC9EE6;
	opacity: 0.2;
}
.btn_filter.selected[rel="1"] .btn_icon{
	opacity: 1;
}
.btn_filter.selected[rel="2"] .btn_icon{
	opacity: 1;
}
.btn_filter.selected[rel="3"] .btn_icon{
	opacity: 1;
}
.btn_filter.selected[rel="4"] .btn_icon{
	opacity: 1;
}
.btn_filter.selected[rel="5"] .btn_icon{
	opacity: 1;
}
.btn_filter.selected[rel="6"] .btn_icon{
	opacity: 1;
}
.btn_filter.selected[rel="7"] .btn_icon{
	opacity: 1;
}
/* toolbar end */
body{
	overflow: hidden;
	margin: 0;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica;
}
#chart, #header, #footer{
	position: absolute;
	top: 0;
}
#header, #footer{
	z-index: 1;
	display: block;
	font-size: 36px;
	font-weight: 300;
	text-shadow: 0 1px 0 #FFFFFF;
}
#header.inverted, #footer.inverted{
	color: #FFFFFF;
	text-shadow: 0 1px 4px #000000;
}
#header{
	top: 80px;
	left: 140px;
	width: 1000px;
}
#footer{
	top: 680px;
	right: 140px;
	text-align: right;
}
rect{
	fill: none;
	pointer-events: all;
}
pre{
	font-size: 18px;
}
line{
	stroke: #000000;
	stroke-width: 1.5px;
}
.string, .regexp{
	color: #FF3399;
}
.keyword{
	color: #0000CC;
}
.comment{
	color: #777777;
	font-style: oblique;
}
.number{
	color: #336699;
}
.class, .special{
	color: #1181B8;
}
a:link, a:visited{
	color: #000000;
	text-decoration: none;
}
a:hover{
	color: #666666;
}
.hint{
	position: absolute;
	right: 0;
	width: 1280px;
	font-size: 12px;
	color: #999999;
}
/* 关联族谱 d3 start */
.relation_chart{
	overflow: auto;
}
.relation{
	padding: 100px;
}
.relation circle{
	fill: #7ED321;
	stroke: #E8E8E8;
	stroke-width: 3;
}
.relation rect{
	fill: #7ED321;
	stroke: #E8E8E8;
	stroke-width: 3;
}
.relation text{
	font-size: 12px;
}
.relation .link{
	fill: none;
	stroke: #E9E9E9;
	stroke-width: 1.5px;
}
.relation polygon{
	fill: #666666;
}
.relation .icon_plus{
	fill: rgba(255, 255, 255, 0.5);
	stroke-width: 0;
}
.relation g[eid]{
	cursor: pointer;
}
.root text{
	fill: #48A2FD;
	font-size: 16px;
}
/* 关联族谱 d3 end */